# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
*.off
*.old
.DS_Store
spy.log
*.pyc

# logs
logs
derby.log
lift_example

# building
target
build
null
tmp*
dist
test-output

# other scm
.svn
.CVS
.hg*
