<%inherit file="/form/base.html" />
<h1>Enter Your Email Address</h1>

## <form name="test" method="get" action="/formtest/submit">
## Email Address: <input type="text" name="email" />
##               <input type="submit" name="submit" value="Submit" />
## </form>

## submit
## ${h.form(h.url_for(controller='formtest', action='submit'), method='get')}
## % if c.email_msg:
##   <span class="error-message">${c.email_msg}</span><br/>
## % endif

## 电子邮箱: ${h.text('email','yang@gmail.com',class_='wide')}
##                ${h.submit('submit', ' 确定 ')}
## ${h.end_form()}

${h.form(h.url_for(controller='formtest', action='submit3'), method='get')}
<p>E-mail Address: ${h.text('email')}</p>
<p>Date:           ${h.text('date')}</p>
<p>                ${h.submit('submit', 'Submit')}</p>
${h.end_form()}
</form>