<%inherit file="/base/page-index.html"/>

<%def name="title()">${c.page.title}</%def>
<%def name="heading()"><h1>${c.page.heading or c.page.title}</h1></%def>

${c.page.content}

<%def name="footer()">
## Then add our page links
<p>
  <a href="${h.url_for(controller='page', action='list', id=None)}">All Pages</a>
| <a href="${h.url_for(controller='page', action='new', id=None)}">New Page</a>
| <a href="${h.url_for(controller='page', action='edit',
        id=c.page.id)}">Edit Page</a>
| <a href="${h.url_for(controller='page', action='delete',
        id=c.page.id)}">Delete Page</a>
</p>
## Include the parent footer too
${parent.footer()}
</%def>